.product-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}



/* left styles */
.product-detail__left {
    width: 50%;
    display: flex;
    justify-content: center;
}

.product-detail__left-img {
    width: 80%;
    height: 100%;
    border: 2 px solid #A9A9A9;
    border-radius: 10px;
    box-shadow: 0 0 35 #BEBEBE;
}

/*  */
.product-detail__rigth {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


}
/* right styles */
.product-detail__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.right__title {
    font-size: 50px;
}

.right__list {
    list-style-type: none;
    font-size: 40px;
    font-style: italic;
}

/* caousel styles */
.carousel-data {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}

.carousel {
    width: 70%;
    border: 2px solid #A9A9A9 !important;
    border-radius: 10px;
    box-shadow: 0 0 35px;
}

.carousel-img {
    width: 250px;
    height: 550px;
    border-radius: 10px;
}

/* reviews style */

.reviews-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 2%;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2%;
}

.card {
    margin-bottom: 1%;
    background-color: transparent !important;
    color: rgb(254, 255, 255);
    border: 2px solid #a9a9a9 !important;
    box-shadow: 5px 5px 5px #bebebe;
}

.btn-light:hover {
    box-shadow: 0 0 25px #bebebe;
    transition: 0.8s;
}